$ratio: calc(1920 / 100); //нужно для расчёта резиновой вёрстки
$size-24-24-12: 24px; //для верхней панели шапки 

$size-24-16-10: clamp(16px, calc(24vw / var(--ratio)), 24px);

@media screen and (max-width: 834px) {
    $ratio: calc(834 / 100);
    $size-24-24-12: clamp(12px, calc(24vw / var(--ratio)), 24px);

    $size-24-16-10: clamp(10px, calc(16vw / var(--ratio)), 16px);
}
@media screen and (max-width: 390px) {
    $ratio: calc(390 / 100);
    $size-24-24-12: 12px;

    $size-24-16-10: 10px;
}
