:root {
    --ratio: calc(1920 / 100); /*нужно для расчёта резиновой вёрстки*/

    --size-200-96-40: clamp(96px, calc(200vw / var(--ratio)), 200px);
    --size-24-24-12: 24px;
    --size-24-16-10: clamp(16px, calc(24vw / var(--ratio)), 24px);
    --size-24-20-12: clamp(20px, calc(24vw / var(--ratio)), 24px);
    --size-16-12-8: clamp(12px, calc(16vw / var(--ratio)), 16px);

    --color-white-100: rgba(255, 252, 242, 1);
    --color-white-80: rgba(255, 252, 242, 0.8);
    --color-white-75: rgba(255, 252, 242, 0.75);
    --color-white-60: rgba(255, 252, 242, 0.6);
    --color-white-40: rgba(255, 252, 242, 0.4);
    --color-blue-100: rgba(0, 77, 243, 1);
    --color-blue-50: rgba(0, 77, 243, 0.5);
    --color-blue-100: rgba(0, 77, 243, 1);
    --color-yellow: rgba(255, 214, 1, 1);
    --color-black: rgba(22, 22, 22, 1);

    --transition-hover: all 0.5s;

    /*для кнопок*/
    --size-24-16-12: clamp(16px, calc(24vw / var(--ratio)), 24px);
    --width-btn: clamp(164px, calc(250vw / var(--ratio)), 250px);
    --px-16-10-8: clamp(10px, calc(16vw / var(--ratio)), 16px);

    /*для отступов*/
    --pm-40-40-24: 40px;
    --pm-80-40-20: clamp(40px, calc(80vw / var(--ratio)), 80px);
    --pm-40-24-16: clamp(24px, calc(40vw / var(--ratio)), 40px);
    --pm-40-16-8: clamp(16px, calc(40vw / var(--ratio)), 40px);
    --pm-16-8-4: clamp(8px, calc(16vw / var(--ratio)), 16px);

    --pm-10-5-2: 10px;
}

@media screen and (max-width: 834px) {
    :root {
        --ratio: calc(834 / 100);

        --size-200-96-40: clamp(40px, calc(96vw / var(--ratio)), 96px);
        --size-24-24-12: clamp(12px, calc(24vw / var(--ratio)), 24px);
        --size-24-16-10: clamp(10px, calc(16vw / var(--ratio)), 16px);
        --size-24-20-12: clamp(12px, calc(20vw / var(--ratio)), 20px);
        --size-16-12-8: clamp(8px, calc(12vw / var(--ratio)), 12px);

        /*для кнопок*/
        --size-24-16-12: clamp(12px, calc(16vw / var(--ratio)), 16px);
        --width-btn: clamp(117px, calc(164vw / var(--ratio)), 164px);
        --px-16-10-8: clamp(8px, calc(10vw / var(--ratio)), 10px);

        /*для отступов*/
        --pm-80-40-20: clamp(20px, calc(40vw / var(--ratio)), 40px);
        --pm-40-40-24: clamp(24px, calc(40vw / var(--ratio)), 40px);
        --pm-40-24-16: clamp(16px, calc(24vw / var(--ratio)), 24px);
        --pm-40-16-8: clamp(8px, calc(16vw / var(--ratio)), 16px);
        --pm-16-8-4: clamp(4px, calc(8vw / var(--ratio)), 8px);

        --pm-10-5-2: 5px;
    }
}
@media screen and (max-width: 450px) {
    :root {
        --ratio: calc(450 / 100);
        --size-200-96-40: 40px;
        --size-24-24-12: 12px;
        --size-24-16-10: 10px;
        --size-24-20-12: 12px;
        --size-16-12-8: 8px;

        /*для кнопок*/
        --size-24-16-12: 12px;
        --width-btn: 117px;
        --px-16-10-8: 8px;

        /*для отступов*/
        --pm-80-40-20: 20px;
        --pm-40-40-24: 24px;
        --pm-40-24-16: 16px;
        --pm-40-16-8: 8px;
        --pm-16-8-4: 4px;

        --pm-10-5-2: 2px;
    }
}

/*для светлых кнопок*/
.btn {
    display: block;
    width: var(--width-btn);
    padding: var(--px-16-10-8) 0;
    text-align: center;
    font-size: var(--size-24-16-12);
    letter-spacing: 0.48px;
    transition: var(--transition-hover);
}
.btn-bold {
    font-family: "Cruinn Black";
}
.btn-thin {
    font-family: "Cruinn Medium";
}
.btn-blue {
    background: var(--color-blue-100);
    color: var(--color-white-100);
    transition: var(--transition-hover);
    &:hover {
        background: var(--color-white-100);
        color: var(--color-blue-100);
    }
}
.btn-blue-50 {
    background: var(--color-blue-50);
    color: var(--color-white-100);
    transition: var(--transition-hover);
    &:hover {
        background: var(--color-white-100);
        color: var(--color-blue-100);
    }
}
.btn-dark {
    border: 1px solid var(--color-white-75);
    color: var(--color-white-75);
    transition: var(--transition-hover);
    &:hover {
        background: var(--color-white-100);
        color: var(--color-blue-100);
    }
}
